<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<!-- meta tags -->
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- bootstrap css -->
<link rel="stylesheet" href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/main.css"
	th:href="@{/css/main.css}">

<title>Bullseye Inventory Management System</title>
</head>

<body>
	<!-- Navbar -->
	<div th:insert="/fragments/navbar :: navbar"></div>

	<!-- sidebar -->
	<div class="container-fluid" id="main">
		<div class="row row-offcanvas row-offcanvas-left ">
			<div class="col-md-3 col-lg-2 sidebar-offcanvas vh-100 bg-light pl-0"
				id="sidebar" role="navigation">
				<div th:insert="/fragments/sidebar :: sidebar"></div>
			</div>

			<div class="col main pt-5 mt-3">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
					<h1 class="display-5 d-none d-sm-block h3">Products</h1>
					<div class="btn">
						<button type="button" class="btn btn-sm btn-secondary">Export
							List</button>
						<a th:href="@{/product/create}">
							<button type="button" class="btn btn-sm btn-primary">
								New Product</button>
						</a>
					</div>
				</div>

				<div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead class="thead-inverse">
								<tr>
									<th>Product ID</th>
									<th>SKU</th>
									<th>Name</th>
									<th>Category</th>
									<th>Brand</th>
									<th>Price</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="product : ${productList}">
									<td th:text="${product.prodId}">Product ID</td>
									<td th:text="${product.prodSKU}">SKU</td>
									<td th:text="${product.prodName}">Name</td>
									<td th:text="${product.prodCategory}">Category</td>
									<td th:text="${product.prodBrand}">Brand</td>
									<td th:text="${product.prodPrice}">Price</td>
									<td th:text="${product.prodStatus}">Status</td>

									<td><a th:href="@{'/product/edit/' + ${product.prodId}}">
											<button type="button" class="btn btn-sm btn-primary">
												Edit</button>
									</a> &nbsp; <a th:href="@{'/product/delete/' + ${product.prodId}}">
											<button type="button" class="btn btn-sm btn-danger">
												Delete</button>
									</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--footer-->
	<footer class="container-fluid fixed-bottom">
		<p class="text-center">©2022 Bullseye IMS. Developed by Dartworks</p>
	</footer>

	<!-- Javascripts -->
	<script src="https://kit.fontawesome.com/a69fb56bf5.js"
		crossorigin="anonymous"></script>
	<script type="text/javascript" ssrc="../static/js/main.js"
		th:src="@{/js/main.js}"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
		crossorigin="anonymous"></script>
	<!-- end of Javascripts -->

</body>
</html>