<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{components/layout :: layout(~{::title}, ~{::#contents}, _)}">
<head>
<title>Bullseye IMS - Suppliers</title>
</head>
<body>
	<div id="contents">
		<div
			class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
			<h2 class="h2">Suppliers</h2>
			<div class="btn-toolbar gap-1">
				<div id="sort-menu"
					th:replace="~{components/sort-menu :: sort-menu('supName-Supplier Name, supContactPerson-Contact Person, supCountry-Country, supEmail-Email')}"></div>
				<a th:href="@{/addSupplier}"
					class="btn btn-sm btn-outline-secondary"> <i
					class="bi bi-plus-circle"></i>&nbsp;Add Supplier
				</a>
				<div
					th:replace="~{components/export-btn-group :: export-btn-group(@{/api/customers?format=json})}"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div
					th:replace="~{components/search-bar :: search-bar(@{/supplier}, _)}"></div>
			</div>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Name</th>
						<th scope="col">Contact Person</th>
						<th scope="col">Address</th>
						<th scope="col">Country</th>
						<th scope="col">Email</th>
						<th scope="col">Contact Number</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${#lists.isEmpty(supplier)}">
						<td colspan="8">No supplier record.</td>
					</tr>
					<tr th:each="supplier, status : ${supplier}">
						<td th:text="${status.count + ((currentPage - 1) * pageSize)}">1</td>
						<td th:text="${supplier.supName}">Name</td>
						<td th:text="${supplier.supContactPerson}">Contact Person</td>
						<td
							th:text="${supplier.supAddress} + ' ' + ${supplier.supCity} + ' ' + ${supplier.supStateOrProvince} + ' ' + ${supplier.supPostalCode}">Address</td>
						<td th:text="${supplier.supCountry}">Country</td>
						<td th:text="${supplier.supEmail}">Email</td>
						<td th:text="${supplier.supContact}">Contact</td>
						<!-- <td th:text="${supplier.orders.size()}">3</td> -->
						<td><a th:href="@{/supplier(id=${supplier.supId})}"
							class="link-secondary"> <i class="bi bi-info-circle-fill"></i></a>&nbsp;
							<!-- <a th:href="@{/createOrder(customerId=${supplier.supId})}"
							class="link-secondary"> <i class="bi bi-cart-fill"></i></a>&nbsp; -->
							<a th:href="@{/updateSupplier(supId=${supplier.supId})}"
							class="link-secondary"> <i class="bi bi-pencil-fill"></i></a>&nbsp;
							<a data-link-type="confirmDelete"
							th:href="@{/deleteSupplier(supId=${supplier.supId})}"
							class="link-secondary"><i class="bi bi-trash-fill"></i></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center text-secondary mb-3">
			<div th:replace="~{components/pagination :: pagination}"></div>
		</div>
	</div>
</body>
</html>