<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<div th:fragment="sidebar">
		<ul class="nav flex-column sticky-top pl-0 pt-5 mt-3">
			<li class="nav-item"><a class="nav-link" href="/inventory">Inventory</a></li>
			<li class="nav-item"><a class="nav-link" href="/order">Orders</a></li>
			<li class="nav-item"><a class="nav-link" href="/product">Products</a></li>
			<li class="nav-item"><a class="nav-link" href="/supplier">Suppliers</a></li>
			<li class="nav-item"><a class="nav-link" href="/">Reports</a></li>
			<li class="nav-item"><a class="nav-link" href="/employee">Employees</a></li>
		</ul>
	</div>

</body>
</html>