<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<nav th:fragment="sidebar" id="sidebarMenu"
		class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
		<div class="position-sticky pt-3 sidebar-sticky">
			<ul class="nav flex-column">
				<li class="nav-item"><a class="nav-link active"
					aria-current="page" href="#"> <span data-feather="home"
						class="align-text-bottom"></span> Inventory
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <span
						data-feather="package" class="align-text-bottom"></span> Orders
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <span
						data-feather="shopping-cart" class="align-text-bottom"></span> Products
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <span
						data-feather="users" class="align-text-bottom"></span> Suppliers
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <span
						data-feather="bar-chart-2" class="align-text-bottom"></span> Reports
				</a></li>
				<li class="nav-item"><a class="nav-link" href="#"> <span
						data-feather="user" class="align-text-bottom"></span> Employees
				</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>